* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 100vh;
}

/* The navigation bar */
.App-header {
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: auto;
  z-index: 1000;
}

/* Links inside the navbar */
.App-header a {
  float: left;
  display: block;
  color: #0f0303;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App-header a:hover {
  background: #0dbd9f;
  color: black;
}

/* Main content */
.main-content {
  margin-top: top; /* Add a top margin to avoid content overlay */
}

.App-slideshow {
  font-family: 'Protest Revolution', sans-serif; /* Replace 'Roboto' with the name of the font you chose */
  margin-bottom: 0px;
}

.Report-home {
  clear: both;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  background-color: #aad3df;
  align-items: flex-start, flex-end;
}

.Report-home-advertising {
  clear: both;
  margin: 30px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  align-items: flex-start, flex-end;
  margin-bottom: 100px;
}

.CarouselCaption {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  fontsize: '6em';
  fontfamily: 'Protest Revolution';
}

.text-container-map {
  padding: 100px;
  margin-right: 20px; /* Optional: Adds some space between the text and the map */
  font-family: 'Lora', serif;
}

.footer .LandigFooter {
  background-color: #f8f9fa;
  color: #212529;
  text-align: center;
  padding: 20px;
  position: inherit;
  left: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-top,
.leaflet-bottom,
.mapBanner {
  z-index: 500 !important;
  font-family: 'Lora', serif;
}

.card-container-adminops {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.card-container-adminops .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.card-body-adminops {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-button-adminops {
  align-self: flex-start;
  margin: 10px 0;
}

.radio-border {
  border: 1px solid #4d4c4c;
  padding: 3px;
  margin-bottom: 3px;
  fill: #ffffff;
}

.admin-map-container {
  clear: both;
  margin-top: 5px;
  margin: 10px;
  display: flex;
  justify-content: left;
  background-color: #ffffff;
  align-items: flex-start, flex-end;
}

.blue-link {
  color: blue;
  cursor: pointer;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
